    <!--<mat-form-field class="example-full-width">
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Ex. Pizza" [(ngModel)]="title">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onClick($event)">Primary</button>

    <b>{{title}}</b>
<p *ngIf="isVisisble else  bloccoElse">Sono visibile</p>
<ng-template #bloccoElse>
<p  >non visibile</p>
</ng-template>

<ul>
    <li *ngFor="let item of persone">
        <div class="cerchio" [ngStyle]="{'background': item.isOnline ? 'green' : 'red'}"></div>
        <p>{{item.nome}}  {{item.cognome}}</p>
    </li>
</ul>


<div  [ngSwitch]="numero">
    <div *ngSwitchCase="1">1</div>
    <div *ngSwitchCase="2">2</div>
    <div *ngSwitchCase="3">3</div>

    <div *ngSwitchDefault>output2</div>
</div>-->
<a routerLink="/" style="margin-right: 10px;">Home</a>
<a routerLink="/about" style="margin-right: 10px;">About</a>
<a routerLink="/contact" style="margin-right: 10px;">Contact</a>
<router-outlet>
</router-outlet>